.mainheading{
    color: rgb(241, 7, 7); 
    font-size: 40px;
}

p{
    color: white;
    background-color: blue;  
}

.heading{
    font-size: 30px;
    font-weight: solid;
    color: blueviolet
}

#logo{
    width: 150px;
    height: 150px;
    border-radius: 80px
}

#text-decolation{
    none;
    color: blue;
}